<!DOCTYPE html>
<html>
<head>
    <title>OTP Email Verification</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <center>
        <br>
        <br>
        <br>
        <h2>Send OTP to Email</h2>
        <form id="otp_form">
            <div id="email_div">
                <label>Email:</label>
                <input type="email" id="email" required>
                <button type="button" class='btn btn-primary'onclick="sendOTP()">Send OTP</button>
            </div>

            <div id="otp_div" style="display:none;">
                <label>Enter OTP:</label>
                <input type="text" id="otp_input" required>
                <button class='btn btn-primary' type="button" onclick="verifyOTP()">Verify OTP</button>
            </div>

            <p id="status_message"></p>
        </form>
   </center>
    <script>
        function sendOTP() {
            let email = document.getElementById("email").value;
            $.post("/send_otp", {
                email: email,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            }, function(data) {
                document.getElementById("email_div").style.display = 'none';
                document.getElementById("otp_div").style.display = 'block';
                document.getElementById("status_message").innerText = data;
            });
        }

        function verifyOTP() {
            let otp = document.getElementById("otp_input").value;
            $.post("/verify_otp", {
                otp: otp,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            }, function(data) {
                document.getElementById("status_message").innerText = data;
            });
        }
    </script>
</body>
</html>

       
  
  
    
